<h1>Search for a Business</h1>

<%= bootstrap_form_tag remote: true do |f| %>
  <%= f.text_field :term, placeholder: 'Tacos' %><br>
  <%= f.text_field :city, placeholder: 'Portland' %><br>
  <%= f.text_field :price_point, placeholder: '$$' %><br>
  <%= f.submit "Search" %>
<% end %>

<div class="businesses">

</div>
